:root {
  --primary-color: #212231;
  --secondary-color: #1E1E2A;
  --font-primary: #FFD99F;
  --variant-1: #7D7D8F;
  --variant-2: #454660;
  --variant-3: #AEAEBD;
  --variant-4: #1D1D23;
  --variant-5: #C8C8CF;
  --variant-6: #E8E8E8;
  --variant-7: #D0D0E0;
  --variant-8: #1A1A23;
  --variant-9: #D9D9D9;
  --variant-10: #393939;
  --variant-11: #29292E;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
}